
*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: montserrat;
    background-image: url();
}

nav{
    background: #F79F24;
    height: 80px;
    width: 100%;
    font-weight: bold;
}

ul{
    float: right;
    margin-right: 130px;
}

li{
    line-height: 80px;
    display: inline-block;
    margin: 0 5px;
}

a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 7px;
    padding: 7px 13px;
}

a:hover{
    background: black;
    transition: 5s;
}

.joo{
    background: black;
}

.logo{
    padding: 0 100px;
    font-size: 40px;
    color: white;
    line-height:80px;
    font-weight: bold;
}

.tay{
    font-size: 40px;
    float: right;
    line-height: 80px;
    margin-right: 130px;
    cursor: pointer;
}

#icon{
    font-size: 40px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer; 
    display: none;
}

@media (max-width:1048px){
    .logo{
        font-size: 32px;
        padding-left: 60px;
    }
    ul{
        margin-right: 20px;
    }
    a{
        font-size: 17px;
    }
}

@media (max-width:909px) {
    #icon{
        display: block;
    }
    
    ul{
        margin-right: 20px;
    }

    a{
        font-size: 17px;
    }

}

.flor{
    display: flex;
    position: relative;
    width: 100%;
    color: white;
    font-family: montserrat;
    font-weight: bold;
    align-items: center;
}

.joe{
    display: flex;
    position: absolute;
    text-align: center;
    font-size: 40px;
    margin-right: 10px;
    top: 150px;
}

.first{
    display: flex;
    justify-content: space-around;
}

.lot{
    align-items: center;
    padding: 15px 15px ;
    margin: 20px;
}

.lop{
    width: 550px;
    height: 350px;
    border-radius: 40px;
    padding: 15px;
    margin: 20px;
}

.pop{
    background-color: #F79F24;
    font-size: 30px;
    border-radius: 50px;
    width: 240px;
    height: 50px;
    padding: 6px;
    top: 20px;
    margin-left: 40px;
    margin-top: -40px;
    text-align:;
}

.heart{
    margin-top: -45px; 
    margin-left: 230px;
    font-size: 40px;
}

.popt{
    background-color: #F79F24;
    font-size: 40px;
    border-radius: 50px;
    width: 240px;
    height: 50px;
    padding: 3px;
    top: 40px;
    margin-left: 40px;
}

.tkt{
    margin-left: 30px;
}

.pot{
    background-color: #F79F24;
    font-size: 40px;
    border-radius: 50px;
    width: 260px;
    height: 50px;
    padding: 3px;
    top: 40px;
    margin-left: 310px;
    margin-top: -50px;
}

.pote{
    background-color: #F79F24;
    font-size: 30px;
    border-radius: 50px;
    width: 240px;
    height: 50px;
    padding: 6px;
    top: 20px;
    margin-left: 40px;
    margin-top: -10px;
    
    
}

.tal{
    font-size: 40px;
}

.tale{
    font-size: 24px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: #1406af;
    margin: 50px 0px 0px ;
    border-radius: 50px;
    box-shadow: 4px 5px black;

}

.bloc{
    color: #ffff;
    font-size: 25px;
    padding: 15px;
}

.treze{
    color: #ffff;
    font-size: 15px;
    margin: 10px;

}